/**
 * 
 * 
 * @fatherbrennan
 */
html{font-size:16px;}body{margin:0;width:100vw;height:100vh;}.window{height:100%;width:100%;}.frame{min-height:29px;max-height:29px;}.app{flex-wrap:nowrap;}.nav{flex:1 10 100%;}.app,.main,.frame,.window,.row,.col,.flex{display:flex;}.row{flex-direction:row;}.app,.window,.col{flex-direction:column;}.app,.main,.frame,.view,.row,.col{flex:1 1 100%;}.view{display:none;}.view:target{display:flex !important;}body {
    font-family: arial;
}

.homepage {
    background-color: lightcoral;
}

.newpage {
    background-color: lightseagreen;
}

.btn {
    border-radius: 0.5rem;
    padding: 0.375rem;
    width: max-content;
    border: 1px solid azure;
    color: azure;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: azure;
    color: black;
}
