body {
	font-family: arial;
}

.homepage {
    background-color: lightcoral;
}

.newpage {
    background-color: lightblue;
}

.btn {
	background-color: azure;
	border-radius: .5rem;
	padding: 0.375rem;
	width: fit-content;
}