body {
    font-family: arial;
}

.navbar {
    background-color: rgb(30, 30, 30);
}

.navbar-icon {
    height: 3rem;
}

.page {
    padding-bottom: 1rem;
}

.lightcoral {
    background-color: lightcoral;
}

.lightseagreen {
    background-color: lightseagreen;
}

.btn {
    border: 1px solid azure;
    border-radius: 0.5rem;
    color: azure;
    cursor: pointer;
    padding: 0.375rem;
    text-decoration: none;
    user-select: none;
    width: max-content;
}

.btn:hover {
    background-color: azure;
    color: black;
}
